<h1 class="form-title">Iniciar sesi칩n</h1>

<div class="form-container">
  <%= form_with url: login_path, local: true, html: { class: "form" } do |f| %>
    <div>
      <%= f.label :email, "Correo electr칩nico", class: "form-label" %>
      <%= f.email_field :email, class: "form-input" %>
    </div>
    <div>
      <%= f.label :password, "Contrase침a", class: "form-label" %>
      <%= f.password_field :password, class: "form-input" %>
    </div>
    <div>
      <%= f.submit "Iniciar sesi칩n", class: "btn" %>
    </div>
  <% end %>
</div>


