<!DOCTYPE html>
<html>
  <head>
    <title>PandaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="brand">
  <%= image_tag "logo.png", alt: "Descripción", class: "logo" %>
  <h1 class="title">Rockstar</h1>
    </div>
    
    <nav>
      <ul>
        <% if session[:user_id] %>
          <li><%= link_to "Perfil", user_path(session[:user_id]) %></li>
          <li><%= link_to "Cerrar sesión", session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Registrarse", new_user_path %></li>
          <li><%= link_to "Iniciar sesión", new_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>

